/*html, body { 
 height: 100%;
 overflow-x: hidden;
}
*/
.fondo-verde-boton{
  background-color: rgb(41,167,68);
}

.fondo-verde-form {
    background: rgb(131, 181, 90);
}

.texto-verde-claro {
    color: rgb(59,149,82);
}

.relativo {
    position:relative;
}

.centrar {
    position:absolute;
    top:55%;
    right:10%;
    text-align:right;
    font-size: smaller;
}

.img-bsas { 
    width: 100%;
    height: auto;
}

#opacidad-fondo{
  filter:brightness(50%);
}

.fondo-gris-oscuro{
  background-color: rgb(53,58,64);
}

.texto-gris-claro{
  color: rgb(138, 138, 139);
}

.texto-bsas {
  font-size: smaller;
  padding-right: 10px;
}

@media (max-width:950px) {
  .texto-bsas {
    font-size: xx-small;
  }
}
@media (max-width:768px) {
  .texto-bsas {
    font-size: smaller;
  }
}

.texto-punteado{
  text-decoration:underline;
  text-decoration-style: dotted;
}

label{
  font-size: smaller;
}

  .mi-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(28,56,70);
    background: linear-gradient(90deg, rgba(28,56,70,1) 0%, rgba(30,68,90,1) 50%, rgba(30,81,112,1) 100%);
    color: white;
    text-align: center;
    font-size: x-small;
  }

@media (max-width:500px) {
  .footer-menu {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}


.footer-menu{
  display: flex;
}

.footer-menu{
padding-right: 10px;
display: block;
}

.footer-menu a{
  color: #cfd2d6;
  text-decoration: none;
  padding: 5px;
}

.footer-menu a:hover{
  color: #27bcda;
}