body {
  overflow-x: hidden;
}

.fondo-verde-boton{
  background-color: rgb(41,167,68);
}

.fondo-verde-form {
  background: rgb(131, 181, 90);
}

.relativo {
    position:relative;
    display: flex;
    flex:start;
}

#opacidad-fondo{
  filter:brightness(50%);
}

.centrar {
    position:absolute;
    top:55%;
    right:10%;
    text-align:right;
    font-size: smaller;
}

@media (max-width:850px) {
  .centrar {
    position:absolute;
    font-size: x-small;
  }

  .titulo-tam {
    font-size: x-large;
  }

  .btn-tam {
    font-size: x-small;
  }
}

@media (max-width:540px) {
  .centrar {
    top:40%;
    right:10%;
    position:absolute;
    font-size: x-small;
  }
}
  @media (max-width:425px) {
    .centrar {
      top:25%;
      right:10%;
      position:absolute;
      font-size: xx-small;
    }

    .titulo-tam {
      font-size: small;
    }
  
    .btn-tam {
      font-size: xx-small;
    }
   }


.fondo-gris-oscuro{
  background-color: rgb(53,58,64);
}

.texto-gris-claro{
  color: rgb(138, 138, 139);
}

.texto-bsas {
  font-size: smaller;
  padding-right: 10px;
}


@media (max-width:802px) {
  .texto-bsas {
    font-size: x-small;
  }
}

@media (max-width:655px) {
  .texto-bsas, .btn-bsas {
    font-size: xx-small;
    margin-bottom: 5px;
  }
  .titulo-bsas{
    font-size: large;
  }
 
}
@media (max-width:575px) {
  .texto-bsas, .btn-bsas {
    font-size: small;
    margin-bottom: 5px;
    margin-inline: 10px;
  }
  .titulo-bsas{
    font-size: large;
    margin-inline: 10px;
  }
 
}


.texto-punteado{
  text-decoration:underline;
  text-decoration-style: dotted;
}

label{
  font-size: smaller;
}

  .mi-footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(28,56,70);
    background: linear-gradient(90deg, rgba(28,56,70,1) 0%, rgba(30,68,90,1) 50%, rgba(30,81,112,1) 100%);
    color: white;
    text-align: center;
    font-size: x-small;
    font-family: sans-serif;
   
  }

.footer-menu{
  display: block;
  }

.footer-menu a{
  color: #eef1f4;
  text-decoration: none;
}

.footer-menu a:hover{
  color: #27bcda;
}

form{
  padding-inline: 10%;
}